.products-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 25px;
  justify-content: center;
  padding: 15px 5%;
}

h1.p-title {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.product-card {
  width: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 251px;
  padding: 1rem .9rem;
  border-radius: 20px;
  transition: all .3s linear;
  border: 1px solid rgba(255,255,255,.4);
}

.product-card > img {
  width: 100%;
  min-width: 231px;
  max-width: 231px;
  margin-bottom: 1rem;
}

.product-card > .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
}

.product-card > .info > h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.product-card > .info > p {
  padding: .3rem .9rem;
  width: auto;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  background: rgba(0, 128, 0, 0.541);
}

.product-card > .info > .center > button {
  display: flex;
  padding: .2rem .3rem;
  border-radius: 7px;
  align-items: center;
  margin-top: 12px;
  justify-content: center;
  gap: 10px;
  width: 100%;
  transition: all .3s linear;
  background: rgba(0, 119, 255, 0.4);
}

.product-card > .info > .center > button:hover {
  background: rgba(0, 119, 255, 0.6);
  box-shadow: 0 0 10px 4px rgba(0, 119, 255, 0.4);
}

.product-card > .info > .center > button > i {
  font-size: 2rem;
}

.product-card > .info > .center > button > p {
  font-size: 1.3rem;
}

.center {
  width: 100%;
  display: grid;
  place-items: center;
}